.container {
    font-size: 1rem;
    padding: 30px 1rem;
}

/* hero section */

.hero_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem 0px;
    min-height: 100vh;
    gap: 2rem;
}

.hero_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
    height: 70%;
    width: 100%;
}

.hero_text h2 {
    font-size: 10vw;
    line-height: 9vw;
    font-weight: 600;

}

.hero_image {
    height: 70%;
    flex: 1;

}


.subscribe_field {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    height: 3rem;
    box-shadow: 0px 0px 1px 0px var(--orange);
    border-radius: 6px;
}

.subscribe_input {
    display: flex;
    height: 100%;
    width: 65%;
}

.subscribe_field input {
    display: flex !important;
    flex: 1;
    outline: none;
}

.subscribe_field button {
    height: 3rem;
    width: 8rem;
    color: white;
    border-radius: 0px 8px 8px 0px;
    transition: all 200ms ease-in-out;
    background-color: var(--orange);

}

/* features */

.features_head {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.features_head h2 {
    font-weight: 600;
    font-size: 2rem;
}

.features_head p {
    width: 100%;
    max-width: 50rem;
}



.card_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 2rem;
    min-height: 100vh;
}

.card {
    min-height: 50vh;
    max-width: 20rem;
    flex: 1;
    box-shadow: 0px 0px 5px 0px var(--greyWhite);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.card div {
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card h3 {
    font-size: 1.6rem;
    font-weight: 600;
}

/* gift cards */

.giftCard_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    gap: 3rem;
}

.giftCard_wrap div h3 {
    font-size: 1.6rem;
    font-weight: 600;
}


@media screen and (max-width: 1024px) {
    .hero_text {
        padding: 0px !important;
    }


}



@media screen and (min-width: 800px) {

    .container{
        padding-left: 3rem;
    }

    .hero_section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 6rem;
        text-align: left;
    }

    .hero_text {
        padding-right: 8rem;
        gap: 2rem;
    }

    .hero_text h2 {
        font-size: 4vw;
        line-height: 4vw;

    }

    /* features */

    .card_wrap {
        min-height: 70vh !important;
        align-items: center;
    }


    .card {
        /* padding: 1rem 0px !important; */
    }

    .giftCard_wrap {
        flex-direction: row;
        text-align: left;
        padding: 0px 7rem;
        gap: 4rem;
        height: 60vh;
    }
}