.container {
    font-size: 1rem;
    padding: 30px 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* hero section */

.hero_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem 0px;
    min-height: 70vh;
    gap: 2rem;
}

.hero_text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
    height: 40%;
    width: 100%;
}

.hero_text h2 {
    font-size: 10vw;
    line-height: 10vw;
    font-weight: 600;

}

.hero_text button {
    height: 3.4rem;
    width: 10rem;
    color: white;
    border-radius: 16px 0px 16px 0px;
    transition: all 200ms ease-in-out;
    background-color: var(--orange);
    margin: 0px auto 2rem;
    font-weight: 500;
    font-size: 1.2rem;
}

.hero_text button:hover{
    border-radius: 14px;
    background-color: var(--orange3);
}

.hero_image {
    width: 35vw !important;
    aspect-ratio: 1;
    position: relative;
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 40% 0px 40%;
    overflow: hidden;
}

/* subscribe */

.subscribe {
    height: 50vh;
    border-radius: 20px;
    background-color: var(--orange);
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 1rem;
    flex-wrap: wrap;
}

.subscribe input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1.1rem;
    padding-left: 6px;
    flex: 1;
}

.subscribe input::placeholder {
    color: white;
}


.subscribe p {
    text-align: center;
}


.subscribe svg {
    display: none;

}

/* features */

.features_head {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.features_head h2 {
    font-weight: 600;
    font-size: 2rem;
}

.features_head p {
    width: 100%;
    max-width: 50rem;
}



.card_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 3rem;
    min-height: 100vh;
}

.card {
    min-height: 50vh;
    width: 100%;
    max-width: 18rem;
    /* max-width: 380px; */
    background: linear-gradient(-200deg, white 2%, var(--greyWhite2));
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 1rem;
    padding: 1rem;
    transition: all 300ms ease-in-out;
}

.card:hover{
    background: radial-gradient(var(--greyWhite2), white);
    scale: 1.01;
    
}

.card:hover div{
    background-color: var(--orange3);
}

.card div {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    height: 2rem;
}

.card h3 {
    font-size: 1.6rem;
    font-weight: 500;
}

/* gift cards */

.giftCard_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    gap: 3rem;
}

.giftCard_wrap div h3 {
    font-size: 1.6rem;
    font-weight: 600;
}


@media screen and (max-width: 1024px) {
    .hero_text {
        padding: 0px !important;
    }

    .hero_section {
        gap: 0px !important;
    }

    .hero_section button {
        margin: 0px !important;
    }

  

}


@media screen and (max-width: 900px) {
    .hero_section {
        gap: 0px !important;
    }

    .hero_image {
        width: 100% !important;
    }

    .hero_section button {
        margin: 0px auto 2rem !important;
    }

    .subscribe svg{
        display: none !important;
    }

    .card{
        max-width: 100% !important;
            }
}


@media screen and (min-width: 800px) {
    .hero_section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 6rem;
        padding: 0px 5rem;
        text-align: left;
    }

    .hero_text {
        gap: 2rem;
    }

    .hero_text h2 {
        font-size: 4vw;
        line-height: 4vw;

    }

    .hero_text p {
        padding-right: 3rem;
    }

    .hero_section button {
        margin: 0px !important;
    }

    .hero_image {
        aspect-ratio: 1;
        border-radius: 100% 0px 100% 100%;
    }

    /* card wrap */

    


    /* features */



    .features_head h2 {
        font-weight: 600;
        font-size: 2rem;
        width: 60%;
    }
    
    .features_head p {
        width: 40%;
        max-width: 50rem;
    }

    /* subscribe */


    .subscribe {
        height: 50vh;
        border-radius: 20px;
        background-color: var(--orange);
        width: 100%;
        max-width: 82%;
        margin: 0px auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 4rem;
        flex-wrap: wrap;
        gap: 4rem;
    }

    .subscribe p {
        text-align: left;
    }

    .subscribe input {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        font-size: 1.1rem;
    }


    .subscribe svg {
        position: absolute;
        bottom: -25vh;
        display: block;

    }

    /* features */

    .card_wrap {
        min-height: 70vh !important;
        align-items: center;
    }

    .giftCard_wrap {
        flex-direction: row;
        text-align: left;
        padding: 0px 7rem;
        gap: 4rem;
        height: 60vh;
    }
}