.nav {
    color: black;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
    font-size: 1.1rem;
    font-weight: 500;
    height: 100%;
    overflow: hidden;
    padding-inline: 1rem;
    padding-right: 5rem;
    white-space: nowrap;

}

.nav_list {
    display: none;
}

.nav_list a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.logo {
    object-fit: contain;
    height: 50px;
    
    
}

.sign_up_btn {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    color: white;
    border-radius: 6px;
    transition: all 200ms ease-in-out;
    background: var(--orange2);
}

.sign_up_btn2 {
    padding: 0.6rem 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    color: white;
    border-radius: 6px;
    transition: all 200ms ease-in-out;
    background: var(--orange);
}

.nav div a:hover span {
    color: var(--orange);
}


.nav_list ul .active{
    position: relative;
    background-color: red;
  }
  
  
  .nav_list ul .active::after {
    transform: scaleX(0.8);
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 4px;
    background-color: var(--orange);
    border-radius: 3px;
    transition: all 200ms ease;
    transform-origin: left;
    width: 100%;
    
  }
  

section {
    transition: all 200ms ease-in-out;
}

@media screen and (max-width: 1024px) {
    .nav {
        
    }

    .nav_list {
        gap: 4rem !important;
    }
}

@media screen and (min-width: 800px) {

    .nav{
    padding-left: 3.6rem;

    }

    .nav_list {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        gap: 8rem;

    }

    .logo {
        object-fit: contain;
    height: 50px;
    }

    .sign_up_btn {
        height: 2.8rem;
        width: 8rem;
    }

    .sign_up_btn:hover {
        background-color: var(--orange3);
        font-size: 1.2rem;
    }


}

@media screen and (max-width: 800px) {
    ul a {

        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.09);
        padding-bottom: 10px;
        text-align: left;
    }

    ul a:hover::after {
        transform: scaleX(1);
    }
}