.nav {
    color: white;
    background-color: var(--purple);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    height: 100%;
    overflow: hidden;
    padding-inline: 1rem;
}

.nav_list {
    display: none;
}

.nav_list a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.logo {
    object-fit: contain;
    height: 9rem;
    width: 40%;
}

.sign_up_btn {
    height: 2rem;
    width: 6rem;
    color: white;
    border-radius: 6px;
    transition: all 200ms ease-in-out;
    background: var(--orange);
}

.nav div a:hover span {
    color: var(--orange);
}

@media screen and (min-width: 1023px) {
    .nav {
        padding-inline: 4rem;
    }
}

@media screen and (min-width: 800px) {
    .nav_list {
        display: flex;
        gap: 8rem;
    }

    .logo {
        scale: 1.5;
    }

    .nav ul a {
        position: relative;
    }

    .nav ul a:hover::after {
        transform: scaleX(0.7);
    }

    .nav ul a::after {
        transform: scaleX(0);
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        background-color: var(--orange);
        border-radius: 3px;
        transition: all 200ms ease;
        transform-origin: left;
        width: 100%;
    }

    .sign_up_btn {
        height: 3rem;
        width: 8rem;
    }

    .sign_up_btn:hover {
        background-color: var(--orange3);
        font-size: 1.2rem;
        scale: 0.9;
    }
}