.footer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem 1rem;
    background-color: #ffffff;
    overflow: hidden;
    text-align: left;
}

.subscribe {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.subscribe p {
    margin-bottom: 10px;
}

.subscribe_field {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    height: 2rem;
    box-shadow: 0px 0px 1px 0px var(--orange);
    border-radius: 8px;
    overflow: hidden;
    font-size: 10px;
}

.subscribe_input {
    display: flex;
    height: 100%;
    width: 65%;
}

.subscribe_field input {
    padding: 0px 0.5rem;
    display: flex !important;
    flex: 1;
    outline: none;
}

.subscribe_field button {
    height: 3rem;
    width: 8rem;
    color: white;
    border-radius: 0px 8px 8px 0px;
    transition: all 200ms ease-in-out;
    background-color: var(--orange);
}

.footer .logo {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: -6.5rem;
}

.footer .logo img {
    scale: 0.6;
}

.footer .list_items {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: center;
}

.footer .list_items ul {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.footer .list_items ul h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

.footer .list_items ul a {
    font-weight: 400;
    font-size: 1rem;
}

.footer .list_items ul a:hover {
    color: var(--purple);
}

.rights {
    background-color: white;
    width: 100%;
    padding: 1rem 0px;
    font-size: 0.8rem;
}