#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.active{
  position: relative;
}


.active::after {
  transform: scaleX(0.8);
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 4px;
  background-color: var(--orange);
  border-radius: 3px;
  transition: all 200ms ease;
  transform-origin: left;
  width: 100%;
  
}


tspan{
  /* display: none; */
}