@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Author', sans-serif;
}

.logo {
    object-fit: contain;
    height: 50px;
}

#root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100% !important;
}

:root {
    --dark: #181A20;
    --dark2: #2C2C2C;
    --grey: #5F6368;
    --grey2: #737373;
    --greyWhite: #dcd7fe;
    --greyWhite2: #eeebfe;
    --deleteRed: #e04a43;
    --successGreen: #63ad0e;
    --orange: #ffaa0e;
    --orange2: #ffb52e;
    --orange3: #fca300;
    --orange4: #fac25a;
    --purple: #663399;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.no-input-focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.input-focus:focus {
    outline: none;
    box-shadow: none;
    border-width: 2px;
    border-style: solid;
    border-color: #ffaa0e;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: #d8d8d8;
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #747474;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #5e5e5e;
}

.css-13d1tkw {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}